.featured {
	position: relative;
	margin: .5rem;
	margin-top: -3.8rem;
	padding: 1rem;
	background: linear-gradient(180deg, rgba(255, 201, 23, .9) 0, #ffc917 2.5rem, #ffc917);
	z-index: 2;
	box-shadow: 0 .15em 0em rgba(0,0,0,0.2);
    max-width: 1280px;
}

.featured-card h1 {
	margin-top: 0;
}

.featured-container {
	position: relative;
	white-space: nowrap;
	overflow: auto;
}

.featured-card {
	position: relative;
	margin-right: .8rem;
	display: inline-block;
	box-shadow: 0 .15em 0em rgba(0,0,0,0.2);
    background-color: white;
}

.featured-card img {
    display: block;
	object-fit: cover;
	width: 11rem;
	height: 8rem;
	-webkit-filter: brightness(.8);
}

.featured-card p:nth-child(5) {
	color: white;
    overflow: hidden;
	position: absolute;
	max-width: 8rem;
    max-height: 4.8rem;
    white-space: pre-wrap;
    word-break: break-word;
	bottom: 0;
	margin: 1rem;
	font-weight: 600;
}